body {
    margin: 0px;
}
.map {
    width: 100%;
    height: 40rem;
    height: 100vh;
}
.ol-control button {
    background-color: rgba(219,63,63,.5);
}
.ol-control button:hover {
    background-color: rgba(219,63,63,1);
}
.ol-zoom .ol-zoom-in {
    border-radius: 50%;
}
.ol-zoom .ol-zoom-out {
    border-radius: 50%;
}
.ol-zoom {
    background-color: initial;
}
.ol-scale-line {
    background-color: rgba(219,63,63,.5);
}
.ol-overviewmap {
    bottom: 2em;
}
.ol-mouse-position {
    font-family: monospace;
}
